/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

a {
    color: inherit;
}

/* Content styling */
:root {
    --bg-color: #f4f3f3;
    --btn-color: #596D48;
    --border-color: #dadcde;
    --box-shadow-color: #d6d6d6;
}

@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

.odin-title {
    font-family: 'Norse', 'Times New Roman', Times, serif;
    font-size: 6rem;
    line-height: 1.2;
}

section {
    min-height: 100vh;
}

section:first-of-type {
    flex: 1;
    position: relative;
}

.background-img {
    height: 100%;
}

section:first-of-type > div,
section:first-of-type > p {
    position: absolute;
    width: 100%;
    color: #fff;
}

section:first-of-type > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    top: 20%;
    height: 150px;
    background-color: #00000080;
}

section:first-of-type > p {
    bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: clamp(0.75rem, 0.75rem + 0.1vw, 1rem);
}

.odin-logo {
    height: 80%;
}

section:nth-of-type(2){
    flex: 2;
    display: flex;
    flex-direction: column;
}

.description-container,
.form-container,
.sign-up-container {
    padding-left: 48px;
}

.description-container,
.sign-up-container {
    background-color: var(--bg-color, lightgrey); 
    height: 35vh;
}

.description-container {
    position: relative;
}

.description-text {
    position: absolute;
    bottom: 15%;
    max-inline-size: 45ch;
    font-weight: 600;
    font-size: clamp(1rem, 0.75rem + 1vw, 1.4rem);
}

.description-text > p:nth-child(2) {
    margin-bottom: 15px;
}

.sign-up-container {
    padding-top: 40px;
    box-shadow: inset 0px 2px 13px 1px var(--box-shadow-color);
}

button[type="submit"] {
    background-color: var(--btn-color, olive);
    color: #fff;
    border: none;
    padding: 0.7em 3em;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 5px 7px 4px var(--box-shadow-color);
    margin-bottom: 30px;
    cursor: pointer;
}

.sign-up-container a {
    color: var(--btn-color, olive);
    font-weight: 600;
    text-decoration: none;
}

.form-container {
    height: 30vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

form {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    gap: 20px 60px;
}

form > div {
    flex: auto;
}

label {
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 600;
    display: block;
    letter-spacing: 1.2px;
}

input {
    appearance: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 3px 0px 3px 7px;
    min-width: 100%;
}

input:focus {
    outline-color: #4f61c4;
    box-shadow: 0px 5px 5px 2px var(--box-shadow-color);
}

input:user-invalid {
    border-color: #ff0000;
}